{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Projekt AWWW</title>
  <link rel="stylesheet" href="{% static 'compiler/style.css'%}">
</head>

<body>
<div class="container">
  <div class="header">
    <div>
      <button onclick="location.href='/main/newFolder/'" class="menu-button">Nowy folder</button>
      <button onclick="location.href='/main/newFile/'" class="menu-button">Nowy plik</button>
      <button onclick="location.href='/main/deleteFolder/'" class="menu-button">Usuń folder</button>
      <button onclick="location.href='/main/deleteFile/'" class="menu-button">Usuń plik</button>
      <button onclick="handleCompilation()" class="menu-button">Kompilacja</button>
    </div>
    <div style="text-align: right;">
      {% if user.is_authenticated %}
        Witaj {{ user.username }}
        <button onclick="location.href='/logout'" class="menu-button">Wyloguj</button>
      {% else %}
        <button onclick="location.href='/login'" class="menu-button">Zaloguj</button>
      {% endif %}
    </div>
  </div>
  <div class="sidebar">
    <h3>Wybór pliku</h3>
    {% include 'compiler/printTree.html' %}
  </div>
  <div class="text" id="file-content">
    <h3>Tekst Programu</h3>
  </div>
  <div class="code" id="code">
    <h3>Fragment kodu</h3>
  </div>
  <div class="buttons">
    <button id="standard" class="trapezoid-button" onClick="ShowTab('standard')">Standard</button>
    <button id="optimizations" class="trapezoid-button" onClick="ShowTab('optimizations')">Optymalizacje</button>
    <button id="processor" class="trapezoid-button" onClick="ShowTab('processor')">Procesor</button>
    <button id="dependent" class="trapezoid-button" onClick="ShowTab('dependent')">Zależne</button>
  </div>
  <div class="data" id="data-div">
    <h3>Wybierz opcje, klikając powyższe przyciski.</h3>
  </div>
</div>
<script src="{% static 'compiler/script.js' %}"></script>
</body>
</html>
