<h3>Fragment kodu</h3>

{% if err %}
    <pre class="odd">{{ err }}</pre>
    <br>
{% endif %}

{% if sections %}
    {% for section in sections %}
        {% if forloop.counter == 1 %}
            <div class="section-container">
                <pre class="odd" onmouseover="highlight(this)">{{ section }}</pre>
            </div>
        {% else %}
            <div class="section-container">
                <button onclick="toggleSection({{ forloop.counter }})" class="toggle-btn">&gt;</button>
                <pre class="{% cycle 'even' 'odd' %} expand-width" id="section{{ forloop.counter }}" onmouseover="highlight(this)">{{ section }}</pre>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}